<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480647437925-l79mi3g4onasplsscbjttltr4a0e007d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480647437925-l79mi3g4onasplsscbjttltr4a0e007d</string>
	<key>API_KEY</key>
	<string>AIzaSyCEjdlF1qtn57mEgiwrkvGaCutfg_UJmOw</string>
	<key>GCM_SENDER_ID</key>
	<string>480647437925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hildegundisApp</string>
	<key>PROJECT_ID</key>
	<string>hildegundisapplogin</string>
	<key>STORAGE_BUCKET</key>
	<string>hildegundisapplogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480647437925:ios:713c6ec3d1a8b550</string>
	<key>DATABASE_URL</key>
	<string>https://hildegundisapplogin.firebaseio.com</string>
</dict>
</plist>